# import libraries

In [ ]:
import pandas as pd 
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Read and view the file

In [5]:
home_data=pd.read_csv('data.csv')
home_data.head()
home_data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

# Create Dataframe

In [6]:
home_data=home_data.dropna(axis=0)
x=home_data.columns
features=['price', 'bedrooms','bathrooms', 'sqft_living','sqft_lot', 'floors' ,'waterfront', 'sqft_above', 'sqft_basement','condition','view','yr_built','yr_renovated']
x=home_data[features]


y=home_data.price
y.head()

0     313000.0
1    2384000.0
2     342000.0
3     420000.0
4     550000.0
Name: price, dtype: float64

# Create model using decision tree regressor

In [7]:
model = DecisionTreeRegressor(random_state=1)
model.fit(x,y)
prediction=model.predict(x)
print(prediction)
print(y.head())

[ 313000.       2384000.        342000.       ...  416904.166667
  203400.        220600.      ]
0     313000.0
1    2384000.0
2     342000.0
3     420000.0
4     550000.0
Name: price, dtype: float64

# Calculate Mean Absolute Error

In [8]:
predicted_price=model.predict(x)
mean_absolute_error(y,predicted_price)

0.0

# Split the data into train and test data

In [9]:

train_x,val_x,train_y,val_y = train_test_split(x,y,random_state=1)

model=DecisionTreeRegressor(max_leaf_nodes=1500,random_state=1)
model.fit(train_x,train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=1500, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

# Calculate MAE again 
##now MAE is 1974.92

In [10]:

predict=model.predict(val_x)
print(mean_absolute_error(predict,val_y))

1974.9236885756518

# Build model using Random Forest Regressor

In [11]:
f_model=RandomForestRegressor()
f_model.fit(train_x,train_y)
f_predict=f_model.predict(val_x)

print(mean_absolute_error(f_predict,val_y))

C:\anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

1846.7723554632169

# Final model

In [25]:
f_model=RandomForestRegressor(random_state=1)
f_model.fit(x,y)
pred=f_model.predict(x)
print(y.head())
mae=mean_absolute_error(y,pred)
print('The error is = ',mae)

C:\anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0     313000.0
1    2384000.0
2     342000.0
3     420000.0
4     550000.0
Name: price, dtype: float64
The error is =  2541.8424381531518